body{
    text-align: center;
    background-color: beige;
}

.btn{
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 7px solid black;
    margin: 20px;
}

.btn_container{
    display: flex;
    justify-content: center;
}

.green{
    background-color: #63aac0;
}
.yellow{
    background-color: #f99b45;
}
.red{
    background-color: #d95980;
}
.purple{
    background-color: #819ff9;
}
.flash{
    background-color: azure;
}
.user_flash{
    background-color: green;
}

